body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

input {
  background: #1e1e1e;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
}

button {
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.8;
}